body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.wd-bookmark-margin {
    padding: 12px 16px;
}
.wd-bookmark-title {
    font-size: 20px;
    color: white;
    margin: 8px 4px;
}
.wd-post-h2-1 {
    color: white;
    font-size: 16px;
    margin: 3px 2px;
}

.wd-post-p {
    max-width: 520px;
    color: white;
    margin: 10px 0px;
}

.wd-bookmark-block {
    border-top-color: rgb(47, 51, 54);
    border-bottom-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

.wd-block-content {
    /*padding: 12px 6px;*/
    /*float:left;*/
}

.wd-bookmark-avatar {
    width: 48px;
    border-radius: 40px;
    padding: 12px;
}

.wd-avatar-bg {
    /*height: 500px;*/
}

.wd-img-block {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    overflow: hidden;
    max-width: 504px;
}

.wd-post-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.wd-img-textarea {
    padding: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-top-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
}

.wd-img-title {
    color: white;
    font-size: 15px;
    margin: 8px 0px;
}

.wd-img-p {
    color: darkgray;
    margin:0;
}

.wd-justify-spaceBetween {
    max-width: 420px;
    display: flex;
    justify-content: space-between;
}

.wd-icon-label {
    margin: 0px 12px;
    color: darkgray;
    font-size: 15px;
}